<<!DOCTYPE html>
<html>
<head>
  <title>USER DATA</title>
</head>
<body>
<!-- do a form -->
  <div id="budget-list">

    <input type="text" class="fuzzy-search" />
    <ul class="list">
      <li><p class="name">0-$5</p></li>
      <li><p class="name">$5-$10</p></li>
      <li><p class="name">$10-$20</p></li>
      <li><p class="name">$20-$30</p></li>
      <li><p class="name">>$30</p></li>
    </ul>
  </div>






</body>
</html>
