<div class="container">
<div id="picture">
    <h1>Your Search Results</h1>
    <div class="row">
      <div class="col-xs-6 col-xs-offset-3">
      <table class="table" style="width:100%">
         <tr>
           <th>Start Time</th>
           <th>Event</th>
           <th>Cost</th>
         </tr>
         <% @events.each do |event| %>
         <tr>
           <td><%= event.event_time %></td>
           <div class="see-info">

            <td> <a href="/events/<%= event.id %>"><%= event.title %></a></td>
          </div>

          <td><%= event.price %></td>
        </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>
</div>