<<!DOCTYPE html>
<html>
<head>
  <title>USER DATA</title>
</head>
<body>
<!-- do a form -->


<form action='events/search'>
    <label for='search_field'>
    Budget:<br>
    <input id="event_search" type="text" name="budget" value="0-$5">
    <input id="event_search" type="text" name="budget" value="$5-$10">
    <input id="event_search" type="text" name="budget" value="$10-$20">
    <input id="event_search" type="text" name="budget" value="$20-$30">
    <input id="event_search" type="text" name="budget" value=">$30">
    <input class="btn btn-primary" type="submit" value="Search">

    </label>


</form>





</body>
</html>
